<div class="banner WMDE-Banner">
    <div class="infobox">
      <div class="text">
        <p class="WMDE-Banner-text-salute"><i>Liebe Leserinnen und Leser:</i></p>
        <p class="WMDE-Banner-text">Verzeihen Sie die Störung. {{ campaignDaySentence }} Wikipedia wird geschrieben von Freiwilligen und finanziert durch Spenden von durchschnittlich 20 €. Jetzt sind Sie in Deutschland gefragt. <span class="highlight">Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, ist unsere Spendenkampagne in einer Stunde vorüber.</span> Schon der Preis einer Tasse Kaffee würde genügen. Millionen von Menschen nutzen Wikipedia, aber nur ein Bruchteil spendet. Wenn Sie Wikipedia nützlich finden, nehmen Sie sich {{ weekdayPrepPhrase }} {{ customDayName }} bitte eine Minute Zeit und geben Wikipedia mit Ihrer Spende etwas zurück. <i>Vielen Dank!</i>
        </p>
      </div>
      <div class="footer">
        <div class="bankname">
          <span class="ucase">Spendenkonto</span>
          <span>Wikimedia Foerdergesellschaft</span>
        </div>
        <div class="bic">
          <span>BIC</span>
          <span class="bankdata-important">BFSWDE33BER</span>
        </div>
        <div class="iban">
          <span>IBAN</span>
          <span class="bankdata-important">DE33&nbsp;1002&nbsp;0500&nbsp;0001&nbsp;1947&nbsp;00</span>
        </div>

        <div class="application-of-funds">
          <span id="application-of-funds-link" data-href="#info-application-of-funds">Wohin geht meine Spende?</span>
        </div>
      </div>
    </div>
    <div class="form">
      Form elements here
    </div>
    <div class="close">
      X
    </div>
</div>
