<div class="banner WMDE-Banner">
    <div class="infobox">
      <div class="text">
        <p class="WMDE-Banner-text-salute"><i>Liebe Leserinnen und Leser:</i></p>
        <p class="WMDE-Banner-text">Verzeihen Sie die Störung. {{ campaignDaySentence }} Wikipedia wird geschrieben von Freiwilligen und finanziert durch Spenden von durchschnittlich 20 €. Jetzt sind Sie in Deutschland gefragt. <span class="highlight">Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, ist unsere Spendenkampagne in einer Stunde vorüber.</span> Schon der Preis einer Tasse Kaffee würde genügen. Millionen von Menschen nutzen Wikipedia, aber nur ein Bruchteil spendet. Wenn Sie Wikipedia nützlich finden, nehmen Sie sich {{ weekdayPrepPhrase }} {{ customDayName }} bitte eine Minute Zeit und geben Wikipedia mit Ihrer Spende etwas zurück. <i>Vielen Dank!</i>
        </p>
      </div>
      <div class="footer">
        <div class="bankname">
          <span class="ucase">Spendenkonto</span>
          <span>Wikimedia Foerdergesellschaft</span>
        </div>
        <div class="bic">
          <span>BIC</span>
          <span class="bankdata-important">BFSWDE33BER</span>
        </div>
        <div class="iban">
          <span>IBAN</span>
          <span class="bankdata-important">DE33&nbsp;1002&nbsp;0500&nbsp;0001&nbsp;1947&nbsp;00</span>
        </div>

        <div class="application-of-funds">
          <span id="application-of-funds-link" data-href="#info-application-of-funds">Wohin geht meine Spende?</span>
        </div>
      </div>
    </div>
    <div class="form">
      <div id="WMDE_Banner-frequency" class="WMDE-Banner-frequency">
          <label class="WMDE_Banner-btn donation-frequency donation-frequency-onetime">
                <input type="radio" id="interval_onetime" name="interval" value="0">
                <span class="state">einmalig</span>
              </label>
              <label class="WMDE_Banner-btn donation-interval  donation-frequency-monthly">
                <input type="radio" id="interval1" name="interval" value="1">
                <span class="state">monatlich</span>
              </label>
              <label class="WMDE_Banner-btn donation-interval donation-frequency-quarterly">
                <input type="radio" id="interval3" name="interval" value="3">
                <span class="state">vierteljährlich</span>
              </label>

              <label class="WMDE_Banner-btn donation-interval donation-frequency-biannual">
                <input type="radio" id="interval6" name="interval" value="6">
                <span class="state">halbjährlich</span>
              </label>
              <label class="WMDE_Banner-btn donation-interval donation-frequency-yearly">
                <input type="radio" id="interval12" name="interval" value="12">
                <span class="state">jährlich</span>
              </label>
      </div>

      <fieldset id="WMDE_Banner-amounts" class="cf">
        <span id="WMDE_Banner-amounts-error-text" style="display: none">{{amount-empty-message}}</span>
        <ul>
          <li id="amount_total_1">
            <input type="radio" name="betrag_auswahl" id="field-amount_total_1" value="5">
            <label id="amount_label_1" class="WMDE_Banner-btn predefined_amount" for="field-amount_total_1">5 €</label>
          </li>

          <li id="amount_total_2">
            <input type="radio" name="betrag_auswahl" id="field-amount_total_2" value="15">
            <label id="amount_label_2" class="WMDE_Banner-btn predefined_amount" for="field-amount_total_2">15 €</label>
          </li>

          <li id="amount_total_3">
            <input type="radio" name="betrag_auswahl" id="field-amount_total_3" value="25">
            <label id="amount_label_3" class="WMDE_Banner-btn predefined_amount" for="field-amount_total_3">25 €</label>
          </li>

          <li id="amount_total_4">
            <input type="radio" name="betrag_auswahl" id="field-amount_total_4" value="50">
            <label id="amount_label_4" class="WMDE_Banner-btn predefined_amount" for="field-amount_total_4">50 €</label>
          </li>
        </ul>
        <ul>
          <li id="amount_total_5">
            <input type="radio" name="betrag_auswahl" id="field-amount_total_5" value="75">
            <label id="amount_label_5" class="WMDE_Banner-btn predefined_amount" for="field-amount_total_5">75 €</label>
          </li>

          <li id="amount_total_6">
            <input type="radio" name="betrag_auswahl" id="field-amount_total_6" value="100">
            <label id="amount_label_6" class="WMDE_Banner-btn predefined_amount" for="field-amount_total_6">100 €</label>
          </li>

          <li id="amount_total_7">
            <input type="radio" name="betrag_auswahl" id="field-amount_total_7" value="250">
            <label id="amount_label_7" class="WMDE_Banner-btn predefined_amount" for="field-amount_total_7">250 €</label>
          </li>

          <li id="amount_custom">
            <input type="text" name="amountGiven" id="amount-other-input" size="3" autocomplete="off" value="" placeholder="anderer">
          </li>
        </ul>
      </fieldset>

      <fieldset id="WMDE_Banner-payment" class="cf">
        <ul>
          <li>
            <button class="WMDE_Banner-btn btn-payment-type" onclick="$('#zahlweise').val('BEZ');">
              Lastschrift
            </button>
          </li>

          <li>
            <button class="WMDE_Banner-btn btn-payment-type" onclick="$('#zahlweise').val('UEB');">
              Überweisung
            </button>
          </li>
          <li>
            <button class="WMDE_Banner-btn btn-payment-type" onclick="$('#zahlweise').val('MCP');">
              Kreditkarte
            </button>
          </li>

          <li>
            <button class="WMDE_Banner-btn btn-payment-type" onclick="$('#zahlweise').val('PPL');">
              PayPal
            </button>
          </li>

        </ul>
      </fieldset>
    </div>
    <div class="close">
      X
    </div>
</div>
