/* Just the layout of components with flexbox */
.banner {
  display: flex;
}

.infobox {
  display:flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.text {

}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-start;
}

.form {
  width:15.5em;
  height: 30em;
  flex-shrink: 0;
  padding-left:1.1em;
}

.close {
  font-size: 1.5em;
  padding:.125em;
}

.bankname, .iban, .bic {

}


/* Styling, from old banner code, but cleaned up */

.WMDE-Banner {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  padding-bottom:0.25em
}

.infobox {
  border: 5px solid #990000;
  border-radius: 9px;
  background-color: #f8f9fa;
  padding: 0 0.5em 0 2em;
}

.text {
  color: #000;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.2em;
  text-align: left;
}

.text p {
  margin: .25em 0;
}

.text p .highlight {
  border-bottom: solid 3px #990000;
  padding: 0 .1em;
  background:transparent;
}

.footer {
  border-top: 1px solid #990000;
  padding-top:0.025em
}

.ucase {
    text-transform: uppercase;
}

.footer span {
  margin-right: .5em;
}

.bankdata-important {
  font-weight: bold;
}

.bankname, .iban, .bic, .application-of-funds {
  white-space: nowrap;
}

.application-of-funds {
  flex-grow: 1;
  text-align: right;
}


/* Form styling */

.form fieldset {
    border: 0;
    margin: 0 auto;
    padding: 0 0.5em 0.5em 0.5em;
}

.WMDE-Banner-frequency input[type=radio] {
  display: none;
}

.WMDE-Banner-frequency {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.WMDE-Banner-frequency label {
  padding: 1em;
  flex-grow:1;
  border-radius: 2px;
  padding: .05em 0;
  line-height: 2em;
  cursor: pointer;
  margin: 0.2em 0.05em;
}

.WMDE-Banner-frequency label .state {
  background: #f8f9fa;
  border: 1px solid #9aa0a7;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: .9em;
}

.WMDE-Banner-frequency label :checked + .state {
  background: #2a4b8d;
  border-color: #7d8389;
  color: #ffffff;
}
.donation-frequency-onetime {
  flex-basis: 100%;
}
